*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 100%;
    height: 20vw;
    padding-top: 6vw;
    background: wheat;
    color: red;
}
.box h2{
    font-size: 4vw;
    text-transform: uppercase;
    text-align: center;
}