* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 768px) {
  .accueil {
    display: block;
  }
  .accueil .texte {
    width: 100%;
  }
  .accueil .texte h2 {
    font-size: 4vw;
    text-align: center;
  }
  .accueil .texte h2 br {
    display: none;
  }
  .accueil .texte p {
    font-size: 3vw !important;
    text-align: center;
  }
  .accueil .texte .btn-informe {
    font-size: 3vw;
    padding: 2vw 5vw;
    margin-left: 10vw;
  }
  .accueil .image {
    display: none;
  }
}
header {
  width: 100%;
  color: white;
  background: rgb(11, 20, 62);
  padding: 0.5vw 0;
  position: fixed;
  top: 0;
  z-index: 5;
}
header .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .head .logo {
  margin-left: 6vw;
}
header .head .logo img {
  width: 9vw;
}
header .head .right {
  display: flex;
  align-items: center;
}
header .head .right .nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .head .right .nav ul li {
  list-style: none;
  font-size: 2vw;
  text-transform: lowercase;
  margin-left: 2vw;
}
header .head .right .nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 200;
}
header .head .right .nav ul .btn-head {
  margin: 1vw 5vw;
  font-size: 1.4vw;
  font-weight: 100;
  background: rgb(11, 20, 62);
  padding: 0.5vw;
  border-color: rgb(254, 202, 8);
}
header .head .right .nav ul .btn-head a {
  color: rgb(254, 202, 8);
  text-decoration: none;
}
header .bars, header .close {
  font-size: 10vw;
  margin-right: 3vw;
  display: none;
}
header .nav-click {
  display: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 14vw !important;
  margin-top: -100%;
  background: #444;
  overflow: hidden;
  transition: top 15s both;
  z-index: 12;
}
header .nav-click ul {
  padding: 1.5vw;
}
header .nav-click ul li {
  padding: 1vw 0;
  list-style: none;
  font-size: 3vw;
  text-transform: lowercase;
}
header .nav-click ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 200;
}

.right .nav ul .home:hover a {
  border-bottom: 0.2vw solid rgb(113, 192, 67) !important;
  color: rgb(113, 192, 67);
}

.nav-click ul .home:hover a {
  color: rgb(113, 192, 67);
}

#agence {
  border-bottom: 0.2vw solid rgb(113, 192, 67);
}
#agence a {
  color: rgb(113, 192, 67);
}

@media (max-width: 768px) {
  header {
    padding-bottom: 2vw;
  }
  header .head .logo {
    margin-left: 5vw;
  }
  header .head .logo img {
    width: 25vw;
  }
  header .btn-head {
    font-size: 1.4vw;
  }
  header .nav {
    display: none;
  }
  header .bars {
    display: block;
    font-size: 8vw;
    margin-right: 2vw;
  }
  header .close {
    font-size: 8vw;
  }
  header .nav-click {
    display: none;
    position: absolute;
    padding-top: 3vw;
    background: rgb(11, 20, 62);
  }
  header .nav-click ul {
    display: flex;
    flex-direction: column !important;
  }
  header .nav-click ul li {
    padding: 1vw 0;
    list-style: none;
    font-size: 6vw;
    text-transform: lowercase;
    border-bottom: 0.2vw solid white;
  }
  header .nav-click ul li a {
    text-decoration: none;
    color: white;
    font-weight: 200;
  }
  header .nav-click ul .btn-head {
    margin: 20vw 5vw 1vw;
    font-size: 5vw;
    font-weight: 100;
    background: rgb(11, 20, 62);
    padding: 1vw 30vw;
    border-color: rgb(254, 202, 8);
  }
  header .nav-click ul .btn-head a {
    color: rgb(254, 202, 8);
    text-decoration: none;
  }
  header .nav-click ul .btn-head:hover {
    color: white;
    background: rgb(113, 192, 67);
    border-color: rgb(113, 192, 67);
    transform: scale(1.1);
  }
  header .nav-click.active {
    display: block !important;
    margin-top: 0;
    transition: 10s;
    overflow: hidden;
  }
  header .nav-click.close {
    display: none !important;
    margin-top: 0;
    transition: 3s;
    overflow: visible;
  }
}
.edit {
  margin-top: 10vw;
  padding-top: 3vw;
  display: flex;
  width: 100%;
}
.edit .edito {
  width: 20vw;
  color: rgb(255, 255, 255);
  background: #182A80;
}
.edit .edito p {
  margin-top: 20vw;
  font-size: 3vw;
  text-align: center;
}
.edit .site {
  width: 60vw;
  text-align: center;
}
.edit .site p {
  font-size: 1.4vw;
}
.edit .site h2 {
  font-size: 2vw;
}
.edit .image .sary {
  width: 40vw;
  height: 40vw;
}
.edit .image .grid {
  width: 40vw;
  height: 7vw;
  background: rgb(119, 132, 158);
}
.edit .image .grid #img {
  margin-top: 1vw;
  margin-left: 1vw;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
}
.edit .images {
  display: none;
}

.equipe {
  margin: 2vw 0;
  position: relative;
}
.equipe h2 {
  font-size: 3vw;
  margin: 2vw 0;
}
.equipe h2 span {
  font-weight: normal;
}
.equipe .images a {
  position: relative;
}
.equipe .images a img {
  width: 50vw;
  height: 30vw;
}
.equipe .images .texte {
  padding: 2vw;
  position: absolute;
  right: 40vw;
  bottom: -3vw;
  width: 27vw;
  height: 10vw;
  color: black;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 0.2vw black;
}
.equipe .images .texte p {
  font-size: 1.4vw;
  margin-left: 3vw;
}
.equipe .paris {
  text-decoration: none;
  color: black;
  position: absolute;
  bottom: 1vw;
  right: 20vw;
}
.equipe .paris p {
  font-size: 2vw;
}

.raison {
  margin-top: 5vw;
}
.raison h2 {
  font-size: 3vw;
}
.raison h2 span {
  font-weight: normal;
}
.raison .flex-raison {
  display: flex;
}
.raison .flex-raison img {
  width: 31vw;
  height: 45vw;
  margin: 1vw 0.5vw 0 1vw;
}
.raison .flex-raison .dix {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65vw;
  margin: 0 1vw 0 0.5vw;
}
.raison .flex-raison .dix .ok .gauche, .raison .flex-raison .dix .ok .droite {
  width: 31vw;
  height: 8vw;
  border: 0.1vw solid black;
  margin: 1vw;
  padding: 1vw;
  display: flex;
  align-items: center;
}
.raison .flex-raison .dix .ok .gauche h3, .raison .flex-raison .dix .ok .droite h3 {
  font-size: 4vw;
  border-right: 1px solid black;
  padding-right: 1vw;
  margin-right: 1vw;
}
.raison .flex-raison .dix .ok .gauche p, .raison .flex-raison .dix .ok .droite p {
  font-size: 1.4vw;
}

.info {
  background: rgb(35, 163, 177);
  margin: 2vw 1vw;
  display: flex;
  padding: 1.5vw;
}
.info h2 {
  font-size: 2vw;
  text-transform: uppercase;
  color: white;
  margin-bottom: 1vw;
}
.info .btn-info {
  font-size: 1.4vw;
  padding: 0.3vw 1vw;
  color: white;
  border-color: white;
  background: rgb(35, 163, 177);
}
.info .information, .info .flash {
  width: 32%;
  padding: 3vw;
}
.info .profit {
  padding: 3vw;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.contact {
  background: #778;
  padding: 2vw;
  color: white;
}
.contact h2 {
  font-size: 2.4vw;
  text-align: center;
  margin: 1vw;
}
.contact p {
  font-size: 2vw;
  text-align: center;
  margin: 1vw;
}
.contact .btn-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .btn-flex .btn-cont {
  padding: 0.5vw 3vw;
  color: white;
  background: greenyellow;
  border-color: greenyellow;
  margin-left: 10vw;
  margin-top: 1vw;
  font-size: 1.4vw;
}
.contact .btn-flex .btn-phone {
  margin-top: 1vw;
}
.contact .btn-flex .btn-phone .btn-pro {
  color: white;
  background: #778;
  padding: 0.5vw 1vw;
  font-size: 1.4vw;
  border-color: white;
  margin-left: 1vw;
}

footer {
  background: #182A80;
  padding: 2vw;
}
footer p {
  color: rgb(255, 255, 255);
  font-size: 1.4vw;
  text-align: center;
}

@media (max-width: 768px) {
  .edit {
    display: block;
    margin-top: 3vw;
    padding-top: 15vw;
  }
  .edit .edito {
    width: 95%;
    margin: 2vw;
    height: 30vw;
    padding-top: 4vw;
  }
  .edit .edito p {
    margin-top: 8vw;
    font-size: 3vw;
  }
  .edit .site {
    width: 100%;
    text-align: center;
  }
  .edit .site p {
    font-size: 4vw;
  }
  .edit .site h2 {
    font-size: 3vw;
  }
  .edit .image {
    display: none;
  }
  .edit .images {
    display: block;
    width: 30vw;
    height: 25vw;
    background: #778;
    padding-top: 10vw;
    margin: 2vw;
  }
  .edit .images p {
    font-size: 3vw;
    text-align: center;
  }
  .equipe h2 {
    font-size: 4vw;
  }
  .equipe .images {
    position: relative;
    margin-bottom: 20vw;
  }
  .equipe .images a {
    margin-left: 5vw;
  }
  .equipe .images a img {
    width: 90%;
    height: 40vw;
  }
  .equipe .images .texte {
    padding: 2vw;
    position: absolute;
    right: 5vw;
    bottom: -9.5vw;
    width: 90%;
    height: 12vw;
    color: black;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 0.3vw black;
  }
  .equipe .images .texte p {
    font-size: 4vw;
    text-align: center;
  }
  .equipe .images .texte p br {
    display: none;
  }
  .equipe .images .paris p {
    font-size: 5vw;
  }
  .raison {
    margin-left: 2vw;
  }
  .raison h2 {
    font-size: 4vw;
  }
  .raison img {
    display: none;
  }
  .raison .flex-raison {
    display: block;
  }
  .raison .flex-raison .dix {
    display: block;
  }
  .raison .flex-raison .dix .ok .gauche, .raison .flex-raison .dix .ok .droite {
    width: 90vw;
    height: 20vw;
  }
  .raison .flex-raison .dix .ok .gauche h3, .raison .flex-raison .dix .ok .droite h3 {
    font-size: 7vw;
    margin-right: 2vw;
  }
  .raison .flex-raison .dix .ok .gauche p, .raison .flex-raison .dix .ok .droite p {
    font-size: 3vw;
  }
  .info {
    display: block;
    background: white;
  }
  .info .information, .info .profit, .info .flash {
    width: 100%;
    height: 30vw;
    background: rgb(35, 163, 177);
    margin: 1vw 0;
    padding: 2vw;
  }
  .info h2 {
    font-size: 5vw;
    margin-bottom: 3vw;
  }
  .info .btn-info {
    font-size: 3vw;
    padding: 1vw 2vw;
    margin-bottom: 2vw;
  }
  .contact h2 {
    font-size: 4vw;
  }
  .contact p {
    font-size: 3vw;
  }
  .contact .btn-flex {
    display: block;
  }
  .contact .btn-flex .btn-cont {
    font-size: 3vw;
    display: block;
    margin: 0 auto;
  }
  .contact .btn-flex .btn-cont br {
    display: none;
  }
  .contact .btn-flex .btn-phone {
    margin-left: 9vw;
    margin-top: 2vw;
  }
  .contact .btn-flex .btn-phone .btn-pro {
    font-size: 3vw;
  }
  .contact .btn-flex .btn-phone .btn-pro i {
    font-size: 3vw;
  }
  .newsletter {
    margin-bottom: 2vw;
  }
  .newsletter .input input {
    width: 75vw;
    height: 6vw;
    padding: 1vw;
  }
  .newsletter .input ::-moz-placeholder {
    font-size: 3vw;
  }
  .newsletter .input ::placeholder {
    font-size: 3vw;
  }
  .newsletter .input .btn-souscrire {
    font-size: 3.3vw;
    padding: 1vw;
  }
  footer p {
    font-size: 4vw;
  }
}
button:hover {
  background: orangered !important;
  color: white !important;
  border-color: orangered !important;
}

.btn-head:hover {
  background: rgb(113, 192, 67) !important;
  border-color: white !important;
  transform: scale(1.2);
  color: white !important;
}

.fa-google-plus-g:hover {
  color: orange !important;
}

.fa-facebook-f:hover {
  color: rgb(37, 149, 214) !important;
}

.fa-twitter:hover {
  color: rgb(37, 149, 214) !important;
}

.fa-youtube:hover {
  color: red !important;
}/*# sourceMappingURL=jAgence.css.map */