* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 768px) {
  .accueil {
    display: block;
  }
  .accueil .texte {
    width: 100%;
  }
  .accueil .texte h2 {
    font-size: 4vw;
    text-align: center;
  }
  .accueil .texte h2 br {
    display: none;
  }
  .accueil .texte p {
    font-size: 3vw !important;
    text-align: center;
  }
  .accueil .texte .btn-informe {
    font-size: 3vw;
    padding: 2vw 5vw;
    margin-left: 10vw;
  }
  .accueil .image {
    display: none;
  }
}
header {
  width: 100%;
  color: white;
  background: rgb(11, 20, 62);
  padding: 0.5vw 0;
  position: fixed;
  top: 0;
  z-index: 5;
}
header .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .head .logo {
  margin-left: 6vw;
}
header .head .logo img {
  width: 9vw;
}
header .head .right {
  display: flex;
  align-items: center;
}
header .head .right .nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .head .right .nav ul li {
  list-style: none;
  font-size: 2vw;
  text-transform: lowercase;
  margin-left: 2vw;
}
header .head .right .nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 200;
}
header .head .right .nav ul .btn-head {
  margin: 1vw 5vw;
  font-size: 1.4vw;
  font-weight: 100;
  background: rgb(11, 20, 62);
  padding: 0.5vw;
  border-color: rgb(254, 202, 8);
}
header .head .right .nav ul .btn-head a {
  color: rgb(254, 202, 8);
  text-decoration: none;
}
header .bars, header .close {
  font-size: 10vw;
  margin-right: 3vw;
  display: none;
}
header .nav-click {
  display: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 14vw !important;
  margin-top: -100%;
  background: #444;
  overflow: hidden;
  transition: top 15s both;
  z-index: 12;
}
header .nav-click ul {
  padding: 1.5vw;
}
header .nav-click ul li {
  padding: 1vw 0;
  list-style: none;
  font-size: 3vw;
  text-transform: lowercase;
}
header .nav-click ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 200;
}

.right .nav ul .home:hover a {
  border-bottom: 0.2vw solid rgb(113, 192, 67) !important;
  color: rgb(113, 192, 67);
}

.nav-click ul .home:hover a {
  color: rgb(113, 192, 67);
}

#guide {
  border-bottom: 0.2vw solid rgb(113, 192, 67);
}
#guide a {
  color: rgb(113, 192, 67);
}

@media (max-width: 768px) {
  header {
    padding-bottom: 2vw;
  }
  header .head .logo {
    margin-left: 5vw;
  }
  header .head .logo img {
    width: 25vw;
  }
  header .btn-head {
    font-size: 1.4vw;
  }
  header .nav {
    display: none;
  }
  header .bars {
    display: block;
    font-size: 8vw;
    margin-right: 2vw;
  }
  header .close {
    font-size: 8vw;
  }
  header .nav-click {
    display: none;
    position: absolute;
    padding-top: 3vw;
    background: rgb(11, 20, 62);
  }
  header .nav-click ul {
    display: flex;
    flex-direction: column !important;
  }
  header .nav-click ul li {
    padding: 1vw 0;
    list-style: none;
    font-size: 6vw;
    text-transform: lowercase;
    border-bottom: 0.2vw solid white;
  }
  header .nav-click ul li a {
    text-decoration: none;
    color: white;
    font-weight: 200;
  }
  header .nav-click ul .btn-head {
    margin: 20vw 5vw 1vw;
    font-size: 5vw;
    font-weight: 100;
    background: rgb(11, 20, 62);
    padding: 1vw 30vw;
    border-color: rgb(254, 202, 8);
  }
  header .nav-click ul .btn-head a {
    color: rgb(254, 202, 8);
    text-decoration: none;
  }
  header .nav-click ul .btn-head:hover {
    color: white;
    background: rgb(113, 192, 67);
    border-color: rgb(113, 192, 67);
    transform: scale(1.1);
  }
  header .nav-click.active {
    display: block !important;
    margin-top: 0;
    transition: 10s;
    overflow: hidden;
  }
  header .nav-click.close {
    display: none !important;
    margin-top: 0;
    transition: 3s;
    overflow: visible;
  }
}
.titre {
  width: 90vw;
  display: flex;
  margin: 2vw;
  padding-top: 5vw;
}
.titre .left {
  width: 35vw;
}
.titre .left .ttre h1 {
  font-size: 3vw;
  margin-bottom: 2vw;
}
.titre .left .ttre h1 span {
  font-weight: normal;
}
.titre .left .ttre p {
  font-size: 1.4vw;
}
.titre .left .lettre {
  padding: 1vw;
}
.titre .left .lettre a {
  text-decoration: none;
}
.titre .left .lettre a .noire {
  width: 100%;
  height: 4vw;
  padding: 1vw;
  margin-bottom: 0.2vw;
  background: rgb(46, 46, 46);
  color: rgb(255, 255, 255);
}
.titre .left .lettre a .noire p {
  font-size: 1.4vw;
}
.titre .left .lettre a .noire p span {
  float: right;
}
.titre .right {
  width: 60vw;
  margin-right: 1vw;
}
.titre .right .p1 {
  width: 100%;
  border-bottom: 1px solid #000;
  padding-bottom: 0.5vw;
  margin-left: 2vw;
}
.titre .right .p1 p {
  font-size: 1.4vw;
}
.titre .right .carte {
  width: 30vw;
  margin: 1vw 2vw 1vw 20vw;
}
.titre .right .carte iframe {
  width: 30vw;
  height: 25vw;
}
.titre .right .carte a {
  color: black;
}
.titre .right .carte a .pleine {
  background: #aaa;
  padding-top: 0.7vw;
  border-bottom: 5px solid #000;
}
.titre .right .carte a .pleine p {
  text-align: center;
}
.titre .right .carte p {
  font-size: 1.4vw;
  margin: 1vw 0;
}
.titre .right .carte a {
  text-decoration: none;
}
.titre .right .carte a .btn-cvg {
  font-size: 1.4vw;
  padding: 0.7vw 2vw;
}

.preparation {
  margin-top: 15vw;
  padding: 1vw;
}
.preparation h2 {
  font-size: 3vw;
  margin-bottom: 2vw;
}
.preparation p {
  font-size: 1.4vw;
}

.circuit .titres {
  display: flex;
  margin: 0 1vw 2vw;
  align-items: center;
}
.circuit .titres h3 {
  font-size: 2vw;
}
.circuit .titres .tirer {
  width: 57vw;
  height: 2px;
  background: #000;
  margin-left: 1vw;
}
.circuit .circuits {
  margin: 1vw;
  width: 35%;
  display: flex;
}
.circuit .circuits .ligne a {
  text-decoration: none;
}
.circuit .circuits .ligne a .gris {
  width: 25vw;
  height: 3vw;
  margin-bottom: 0.5vw;
  color: rgba(0, 0, 0, 0.5);
  background: whitesmoke;
  padding: 1vw;
}
.circuit .circuits .ligne a .gris p {
  font-size: 1.4vw;
}
.circuit .circuits .ligne a #all {
  color: rgb(255, 255, 255);
  background: rgb(119, 132, 158);
}
.circuit .circuits a {
  text-decoration: none;
}
.circuit .circuits a .column {
  width: 4vw;
  height: 17vw;
  margin-left: 1vw;
  background: rgb(139, 68, 40);
  padding: 1vw 1.4vw;
}
.circuit .circuits a .column p {
  font-size: 2.5vw;
  color: rgb(254, 202, 8);
}

footer {
  background: #182A80;
  padding: 2vw;
}
footer p {
  color: rgb(255, 255, 255);
  font-size: 1.4vw;
  text-align: center;
}

@media (max-width: 768px) {
  .titre {
    display: block;
    width: 95vw;
    padding-top: 15vw;
  }
  .titre .left {
    width: 100%;
  }
  .titre .left .ttre h1 {
    font-size: 5vw;
    margin: 3vw 2vw;
  }
  .titre .left .ttre h1 br {
    display: none;
  }
  .titre .left .ttre p {
    font-size: 3vw;
    margin: 2vw;
  }
  .titre .left .lettre a .noire {
    width: 98%;
    height: 7vw;
    margin-right: 2vw;
  }
  .titre .left .lettre a .noire p {
    font-size: 3vw;
  }
  .titre .right {
    width: 90%;
  }
  .titre .right .p1 {
    margin: 2vw;
  }
  .titre .right .p1 p {
    font-size: 3vw;
  }
  .titre .right .carte {
    width: 90vw;
    margin: 0;
  }
  .titre .right .carte iframe {
    width: 100%;
    height: 40vw;
  }
  .titre .right .carte a {
    color: black;
  }
  .titre .right .carte a .pleine {
    background: #aaa;
    padding-top: 1vw;
    border-bottom: 5px solid #000;
  }
  .titre .right .carte a .pleine p {
    text-align: center;
    font-size: 3vw;
  }
  .titre .right .carte p {
    font-size: 3vw;
    margin: 3vw 0;
  }
  .titre .right .carte a {
    text-decoration: none;
    margin: 2vw 0;
  }
  .titre .right .carte a .btn-cvg {
    font-size: 3vw;
    width: 95%;
    padding: 2vw 0;
    margin-left: 2.5vw;
  }
  .preparation h2 {
    font-size: 4vw;
  }
  .preparation p {
    font-size: 3vw;
  }
  .circuit .titres {
    display: block;
    width: 90%;
    margin: 2vw 2vw 2vw 8vw;
  }
  .circuit .titres h3 {
    font-size: 3vw;
    padding-bottom: 1vw;
  }
  .circuit .titres .tirer {
    margin: 0;
  }
  .circuit .circuits {
    width: 95%;
    display: block;
  }
  .circuit .circuits .ligne {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .circuit .circuits .ligne a .gris {
    width: 40vw;
    height: 7vw;
    margin: 1vw 2.5vw;
  }
  .circuit .circuits .ligne a .gris p {
    font-size: 3vw;
  }
  .circuit .circuits .ligne a #sud {
    margin-left: 25vw;
  }
  .circuit .circuits a .column {
    width: 10vw;
    height: 10vw;
    padding: 3.5vw 4vw;
  }
  .circuit .circuits a .column p {
    font-size: 4vw;
  }
  footer p {
    font-size: 4vw;
  }
}
button:hover {
  background: orangered !important;
  color: white !important;
  border-color: orangered !important;
}

.btn-head:hover {
  background: rgb(113, 192, 67) !important;
  border-color: white !important;
  transform: scale(1.2);
  color: white !important;
}

.fa-google-plus-g:hover {
  color: orange !important;
}

.fa-facebook-f:hover {
  color: rgb(37, 149, 214) !important;
}

.fa-twitter:hover {
  color: rgb(37, 149, 214) !important;
}

.fa-youtube:hover {
  color: red !important;
}/*# sourceMappingURL=jGuide.css.map */