@import "library/generalite.scss";
@import "library/variable.scss";
@import "library/mixins.scss";


@include header;

@include footer;

#accueil{
    border-bottom: .2vw solid $vert;
    a{
        color: $vert;
    }
}

.accueil{
    display: flex;
    justify-content: space-between;
    padding-top: 5.5vw;
    .texte{
        padding: 3vw 5vw;
        margin-top: 3vw;
        h2{
            font-size: 3vw;
            font-weight: normal;
            margin-left:4vw;
            span{
                color: $vert;
            }
        }
        p{
            font-size: 1.4vw;
            margin: 1vw 1vw 4vw;
        }
        .btn-informe{
            background: $bleu;
            color: white;
            font-size: 1.4vw;
            padding: 1vw 3vw;
            border-radius: 1vw;
            margin-left: 4vw;
        }
    }
    .image {
      width: 45vw;       // largeur du rectangle
      height: 30vw;      // hauteur du rectangle
      border-radius: 20px;
      position: relative;

      div {
          width: 100%;
          height: 100%;
          border-radius: 20px;
          overflow: hidden; // pour couper les parties qui dépassent
      }

      img {
          width: 100%;
          height: 100%;
          border-radius: 20px;
          object-fit: cover; // garde les proportions et remplit le conteneur
          display: block;
      }
  }
}

.information{
  display: flex;
  margin-top: 3.5vw;
  .demande{
      width: 25vw;
      height: 33vw;
      padding: 2vw;
      box-shadow: 0 0 .5vw rgba(0, 0, 0, .5);
      margin:0 2vw;
      border-radius: 1vw;
      .plane1{
          margin: 1vw;
          margin-left: 7vw;
          position: relative;
          width: 6vw;
          height: 6vw;
          border-radius: 50%;
          background: rgba(113, 192, 67, .5);
          .plane2{
              position: absolute;
              top: .5vw;
              left: .5vw;
              width: 5vw;
              height: 5vw;
              border-radius: 50%;
              background: rgba(113, 192, 67, .7);
              .fa-plane{
                  position: absolute;
                  top: .6vw;
                  left: .6vw;
                  font-size: 1.5vw;
                  padding: 1vw;
                  border-radius: 50%;
                  color: white;
                  border: 1px solid $vert;
                  background: rgba(113, 192, 67, .9);
                  z-index: 1;
              }
          }
      }
      h3{
          font-weight: normal;
          font-size: 1.4vw;
          text-align: center;
          margin-bottom: 1vw;
      }
      p{
          font-size: 1vw;
          text-align: center;
          margin-bottom: 1vw;
      }
      .btn-devis{
          font-size: 1.4vw;
          color: white;
          background: $vert;
          border: none;
          padding: 1vw 2vw;
          display: block;
          margin: 0 auto;
      }
      #ou{
          margin: 1vw 0;
          font-size: 1vw;
      }
      .phone{
          display: flex;
          justify-content: center;
          align-items: center;
          .fa-phone{
              transform: rotate(90deg);
              color: $vert;
              margin-right: 1vw;
          }
          p{
              font-size: 1vw;
              padding-top: .5vw;
          }
      }
  }
  .reservation {
    padding-top: 8vw;
    margin-left: 3vw;
    h2 {
      font-size: 2vw;
      color: $bleu;
      margin-bottom: 1vw;
    }

    .buttons-season {
      margin-bottom: 2vw;
      a {
        text-decoration: none;
        button {
          background: rgba(113, 192, 67, 1);
          margin-right: 1vw;
          font-size: 1vw;
          padding: 1vw 3vw;
          border: none;
          color: white;
          cursor: pointer;
        }
        .btn-paque {
          color: rgba(119, 132, 158, 1);
          background: rgba(242, 243, 245, 1);
        }
      }
    }

    table.vols-table {
      width: 100%;
      border-collapse: collapse;
      text-align: left;

      thead {
        background: rgba(113, 192, 67, 1);
        color: white;

        th {
          padding: 1vw;
          font-size: 1vw;
          vertical-align: bottom; // th reste en haut
          span {
            font-size: 0.8vw;
            display: block;
          }
        }
      }

      tbody {
        td {
          padding: 0.8vw 1vw;
          font-size: 1vw;
          color: rgba(119, 132, 158, 1);
          vertical-align: top; // aligne sous le th
        }

        tr.gris {
          background: rgba(242, 243, 245, 1);
        }

        .btn-reserver {
          padding: 0.5vw 1vw;
          font-size: 1vw;
          background: $gris;
          border: none;
          cursor: pointer;
          color: white;
        }
      }

      tr {
        border-bottom: 1px solid rgba(200, 200, 200, 0.3);
      }
    }

    .btn-bottom {
      margin-top: 2vw;
      a {
        text-decoration: none;
        button {
          font-size: 1.4vw;
          border: none;
          color: white;
          padding: 1vw 6vw;
          cursor: pointer;

          i {
            font-size: 1vw;
            margin-left: 1vw;
          }
        }

        .btn-online {
          background: #182A80;
          margin-right: 0.7vw;
        }

        .btn-formalite {
          background: #44494f;
        }
      }
    }

    // Responsive mobile
    @media (max-width: 900px) {
      h2 {
        font-size: 4vw;
      }

      .buttons-season a button {
        font-size: 3vw;
        padding: 2vw 4vw;
      }

      table.vols-table {
        thead th,
        tbody td {
          font-size: 3vw;
          padding: 2vw;
        }

        td .btn-reserver {
          font-size: 3vw;
          padding: 1vw 2vw;
        }
      }

      .btn-bottom a button {
        font-size: 3vw;
        padding: 2vw 4vw;
      }
    }
  }
}

.image{
    display: flex;
    align-items: center;
    justify-content: space-around;
    img{
        width: 25vw;
        height: 25vw;
        position: relative;
    }
    .images{
      margin-top: 2vw;
        position: relative;
        .box{
            width: 20vw;
            height: 10vw;
            position: absolute;
            top: 18vw;
            right: 0;
            background: $bleu;
            padding: 1.5vw;
            a{
                text-decoration: none;
                p{
                    font-size: 1.4vw;
                    color: $blanc;
                }
                .fas{
                    position: absolute;
                    top: 6vw;
                    right: 2vw;
                    z-index: 1;
                    font-size: 2vw;
                    color: $blanc;
                    margin-left: 17vw;
                }
            }
        }
    }
}
.blog{
    margin-top: 5vw;
    display: flex;
    .raison{
        width: 40vw;
        height: 28vw;
        box-shadow: 0 0 1vw black;
        padding: 2vw;
        background: rgba(242, 243, 245, 1);
        h2{
            font-size: 1.6vw;
            margin: 2vw 0;
        }
        p{
            margin: 1vw 0;
            font-size: 1.2vw;
        }
        .btn-raison{
            font-size: 1.4vw;
            padding: 1vw 2vw;
            margin-top: 2vw;
            color: white;
            background: #182A80;
            .fas{
                margin-left: 1vw;
            }
        }
    }
    .blog-right{
        margin-left: 3vw;
        h2{
            font-size: 2vw;
            margin-bottom: 2vw;
        }
        .box-right{
            display: flex;
            align-items: center;
            justify-content: space-around;
            .box-flex{
                .paragraphe{
                    background: #182A80;
                    width: 18vw;
                    height: 8vw;
                    color: white;
                    padding: 1vw;
                    h3{
                        font-size: 1.4vw;
                        margin: 1vw 0;
                    }
                    p{
                        font-size: 1.2vw;
                        margin-bottom: 1vw;
                    }
                }
                img{
                    width: 18vw;
                    height: 13vw;
                    margin-right: 1vw;
                }
            }
        }
        margin-bottom: 2vw;
    }
}

/* MINIATURES VIDEO */
.v-right .video-1 {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 8px;
  overflow: hidden;

  &:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  }

  &.active-mini {
      border: 3px solid #71c043; // couleur verte pro pour l'active
      transform: scale(1.05);
      box-shadow: 0 4px 20px rgba(0,0,0,0.5);
  }
}

/* Ajustement des vidéos */
.videoNgeza {
  width: 100%;
  height: auto;
  max-height: 45vw; // ou la hauteur souhaitée pour la vidéo principale
}
.videoKely {
  width: 100%;
  height: auto;
}


.video{
    width: 100%;
    background: #1f1f1f;
    h2{
        font-size: 3vw;
    }
    .nos-video{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .v-left{
            width: 65vw;
            height: 30vw;
            video{
                width: 100%;
                height: 30vw;
            }
            .invisible{display: none;}

            #rn7, #play{

                width: 100%;
                height: 30vw;
            }
        }
        .v-right{
            width: 30vw;
            height: 30vw;
            padding: 1vw;
            border: 1px solid $gris;
            h2{
                font-size: 1.4vw;
                margin-bottom: 1vw;
                color: white;
                background: rgba(31, 31, 31, 0.1);
            }
            .video-1{
                display: flex;
                margin-top: 1vw;
                position: relative;
                .icon1{
                    position: absolute;
                    top: 1.5vw;
                    left: 3vw;
                }
                video{
                    width: 10vw;
                    height: 6vw;
                    margin-right: 1vw;
                }
                p{
                    font-size: 1.4vw;
                    color: white;
                }
                span{
                    font-size: 1vw;
                    color: $gris;
                }
            }
        }
    }
}
.event{
    display: flex;
    margin: 4vw 2vw;
    align-items: center;
    justify-content: space-between;
    .telecharger{
        width: 45vw;
        height: 15vw;
        padding: 2vw 4vw;
        border: 1px solid black;
        h2{
            font-size: 2vw;
            margin: 1vw  0;
        }
        p{
            font-size: 1.2vw;
            margin-bottom: 1vw;
        }
        .btn-download{
            font-size: 1.4vw;
            color: white;
            background: rgba(113, 192, 67, 1);
            padding: 1vw 2vw;
            border: none;
        }
    }
    .flash{
        background: rgba(0, 154, 182, 1);
        width: 45vw;
        height: 15vw;
        padding: 4vw;
        h2{
            font-size: 2.4vw;
            margin-bottom: 2vw;
            color: white;
        }
        .btn-profiter{
            color: white;
            font-size: 1.4vw;
            padding: 1vw 2vw;
            border-color: white;
            background: rgba(0, 154, 182, 1);
        }
    }
}
.photo{
    background: rgba(242, 243, 245, 1);
    padding: 2vw 0;
    h2{
        font-size: 2vw;
        margin-bottom: 2vw;
        text-align: center;
        color: #182A80;
    }
    p{
        font-size: 1.2vw;
        text-align: center;
        margin-bottom: 1vw;
        color: #44494f;
    }
}
.parent{
    padding: 1vw 3vw;
    .slide-im{
        .img{
            img{
                width: 18vw;
                height: 10vw;
                margin: 1vw 1vw;
                border-radius: .5vw;
            }
        }
    }
}
.contact{
    h2, p, i, a{
        color: $blanc;
    }
    background: $mainty;
    display: flex;
    justify-content: space-between;
    padding: 2vw;
    h2{
        font-size: 1.6vw;
        text-decoration: underline;
    }
    p{
        font-size: 1.2vw;
        margin: .5vw;
    }
    i{
        font-size: 1.2vw;
    }
    .place{
        display: flex;
        i{
            margin-top: 1vw;
        }
    }
    .num-phone, .impression{
        display: flex;
        align-items: center;
    }
    .num-phone{
       i{
        transform: rotate(90deg);
       }
    }
    .mail{
        a{
            display: flex;
            align-items: center;
        }
    }
    .input{
        display: flex;
        align-items: center;
        #email{
            font-size: 1vw;
            padding: .5vw 5vw .5vw .5vw;
        }
        .btn-souscrire{
            color: $blanc;
            background: $vert;
            border: none;
            padding: .35vw;
            font-size: 1.4vw;
        }
    }
}
@include footer;

// responsive
@media (max-width: 768px){
    body{
        overflow-x: hidden !important;
    }
    .accueil{
        .texte{
            h2{
                font-size: 5vw;
            }
            p{
                font-size: 3vw;
            }
            .btn-informe{
                font-size: 3vw;
                display: block;
                margin: auto;
            }
        }
        .image{
            display: none;
        }
    }
    .information{
        display: block;
        .demande{
            margin-bottom: 2vw;
            width: 95%;
            height: 90vw;
            .plane1{
                margin-left: 43vw;
                margin-bottom: 2vw;
            }
            h3{
                font-size: 4vw;
            }
            p{
                font-size: 3vw;
                margin-bottom: 2vw;
                color: $gris;
            }
            .btn-devis, #ou{
                display: none;
            }
            .phone{
                border: 1px solid black;
                width: 40vw;
                display: flex;
                align-items: center;
                margin-left: 28vw;
                margin-bottom: 3vw;
                i{
                    font-size: 3vw;
                }
                p{
                    font-size: 3vw;
                }
            }
        }
        .reservation{
            h2{
                font-size: 4vw;
                margin: 1vw 5vw;
                text-align: center;
            }
            a{
                text-decoration: none;
                button{
                    width: 75%;
                    font-size: 3vw;
                    display: block;
                    margin: 0 auto;
                }
                .btn-paque{
                    display: block;
                    margin: 0 auto;
                    height: 7vw;
                }
            }
            .tete{
                width: 97%;
                height: 7vw;
                margin-top: 4vw;
                h4{
                    font-size: 2.5vw;
                    span{
                        font-size: 2vw;
                    }
                }
                #tarif{
                    margin-left: 3vw;
                }
            }
            .date{
                height: 7vw;
                p{
                    font-size: 2.4vw;
                }
                .btn-reserver{
                    font-size: 2.4vw;

                }
            }
            .btn{
                a{
                    margin: .5vw 1vw;
                    button{
                        font-size: 2.4vw;
                        display: block;
                        margin: 0 auto;
                        padding: 1vw 0;
                        i{
                            font-size: 3vw;
                        }
                    }
                    .btn-formalite{
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    .image{
        position: relative;
        .images{
            img{
                display: none;
            }
            .box{
                width: 40vw;
                position: absolute;
                a{
                    p{
                        font-size: 3vw;
                        br{
                            display: none;
                        }
                    }
                }
            }
            #box1{
                left: 10vw;
                top: 1vw;
            }
            #box2{
                left: -22.5vw;
                top: 11vw;
            }
            #box3{
                left: -54.8vw;
                top: 20vw;
            }
        }
    }
    .blog{
        margin-top: 37vw;
        display: block;
        .raison{
            width: 100%;
            height: 40vw;
            h2{
                font-size: 4vw;
                br{
                    display: none;
                }
            }
            p{
                font-size: 3vw;
            }
            .btn-raison{
                font-size: 3vw;
                padding: 2vw 3vw;
                display: block;
                margin: 0 auto;
            }
        }
        .blog-right{
            margin-left: 3vw;
            h2{
                font-size: 2vw;
                margin-bottom: 2vw;
            }
            .box-right{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                .box-flex{
                    .paragraphe{
                        width: 40vw;
                        height: 20vw;
                        color: white;
                        padding: 1vw;
                        h3{
                            font-size: 4vw;
                            margin: 1vw 0;
                        }
                        p{
                            font-size: 3vw;
                            margin-bottom: 1vw;
                        }
                    }
                    img{
                        width: 40vw;
                        height: 30vw;
                        margin-right: 1vw;
                    }
                }
            }
            margin-bottom: 2vw;
        }
    }
    .video{
        h2{
            font-size: 4vw;
            color: white;
            margin: 2vw;
        }
        .nos-video{
            display: block;
            .v-left{
                width: 100%;
            }
            .v-right{
                width: 100%;
                height: auto;
                .video-1{
                    position: relative;
                    .icon1{
                        position: absolute;
                        top: 4.5vw;
                        left: 8vw;
                    }
                    video{
                        width: 20vw;
                        height: auto;
                    }
                    p{
                        font-size: 3vw;
                        span{
                            font-size: 2vw;
                        }
                    }
                }
            }
        }
    }
    .parent{
        padding: 0 5vw 0 6vw;
        .slide-im{
            .img{
                img{
                    width: 43vw !important;
                    height: 25vw !important;
                    margin: 1vw .5vw;
                    border-radius: .5vw;
                }
            }
        }
    }
    .contact{
        display: block;
        text-align: center;
        h2{
            font-size: 4vw;
            margin: 2vw 0;
        }
        p{
            font-size: 3vw;
            margin: 2vw 0;
        }
        i{
            font-size: 3vw;
            margin-right: 2vw;
        }
        .place{
            display: block;
            margin: 0 auto;
        }
        .mail, .num-phone, .impression{
            margin: 2vw 30vw;
        }
    }
    .newsletter{
        margin-bottom: 2vw;
        .input{
            input{
                width: 75vw;
                height: 6vw;
                padding: 1vw ;
            }
            ::placeholder{
                font-size: 3vw;
            }
            .btn-souscrire{
                font-size: 3.3vw;
                padding: 1vw;
            }
        }
        p{
            span{
                display: none;
            }
        }
    }

    footer{
        p{
            font-size: 4vw;
        }
    }
}

// hover :
button:hover{
    background: orangered !important;
    color: white !important;
    border-color: orangered !important;
}
.btn-head:hover{
    background: $vert !important;
    border-color: white !important;
    transform: scale(1.2);
    color: white !important;
}

.fa-google-plus-g:hover{
    color: orange !important;
}
.fa-facebook-f:hover{
    color: rgb(37, 149, 214) !important;
}
.fa-twitter:hover{
    color: rgb(37, 149, 214) !important;
}
.fa-youtube:hover{
    color: red !important;
}

