@import "library/generalite.scss";
@import "library/variable.scss";
@import "library/mixins.scss";

@include header ;
#agence{
    border-bottom: .2vw solid $vert;
    a{
        color: $vert;
    }
}
@include responsive;
.edit{
    margin-top: 10vw;
    padding-top: 3vw;
    display: flex;
    width: 100%;
    .edito{
        width: 20vw;
        color: $blanc;
        background: $bleu;
        p{
            margin-top: 20vw;
            font-size: 3vw;
            text-align: center;
        }
    }
    .site{
        width: 60vw;
        text-align: center;
        p{
            font-size: 1.4vw;
        }
        h2{
            font-size: 2vw;
        }
    }
    .image{
        .sary{
            width: 40vw;
            height: 40vw;
        }
        .grid{
            width: 40vw;
            height: 7vw;
            background: $gris;
            #img{
                margin-top: 1vw;
                margin-left: 1vw;
                width: 5vw;
                height: 5vw;
                border-radius: 50%;
            }
        }
    }
    .images{
        display: none;
    }
}
.equipe{
    margin: 2vw 0;
    position: relative;
    h2{
        font-size: 3vw;
        margin: 2vw 0;
        span{
            font-weight: normal;
        }
    }
    .images{
        a{
            position: relative; 
            img{
                width: 50vw;
                height: 30vw;
            }
        }
        .texte{
            padding: 2vw;
            position: absolute;
            right: 40vw;
            bottom: -3vw;
            width: 27vw;
            height: 10vw;
            color: black;
            background: $blanc;
            box-shadow: 0 0 .2vw black;
            p{
                font-size: 1.4vw;
                margin-left: 3vw;
            }
        }
    }
    .paris{
        text-decoration: none;
        color: black;
        position: absolute;
        bottom: 1vw;
        right: 20vw;
        p{
            font-size: 2vw;
        }
    }
}
.raison{
    margin-top: 5vw;
    h2{
        font-size: 3vw;
        span{
            font-weight: normal;
        }
    }
    .flex-raison{
        display: flex;
        img{
            width: 31vw;
            height: 45vw;
            margin: 1vw .5vw 0 1vw;
        }
        .dix{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 65vw;
            margin: 0 1vw 0 .5vw;
            .ok{
                .gauche, .droite{
                    width: 31vw;
                    height: 8vw;
                    border: .1vw solid black;
                    margin: 1vw;
                    padding: 1vw;
                    display: flex;
                    align-items: center;
                    h3{
                        font-size: 4vw;
                        border-right: 1px solid black;
                        padding-right: 1vw;
                        margin-right: 1vw;
                    }
                    p{
                        font-size: 1.4vw;
                    }
                }
            }
        }
    }
}
.info{
    background: rgb(35, 163, 177);
    margin: 2vw 1vw;
    display: flex;
    padding: 1.5vw;
    h2{
        font-size: 2vw;
        text-transform: uppercase;
        color: white;
        margin-bottom: 1vw;
    }
    .btn-info{
        font-size: 1.4vw;
        padding: 0.3vw 1vw;
        color: white;
        border-color: white;
        background: rgb(35, 163, 177);
    }
    .information, .flash{
        width: 32%;
        padding: 3vw;
    }
    .profit{
        padding: 3vw;
        border-left: 1px solid white;
        border-right: 1px solid white;
    }
}
.contact{
    background: #778;
    padding: 2vw;
    color: white;
    h2{
        font-size: 2.4vw;
        text-align: center;
        margin: 1vw;
    }
    p{
        font-size: 2vw;
        text-align: center;
        margin: 1vw;
    }
    .btn-flex{
        display: flex;
        justify-content: center;
        align-items: center;
        .btn-cont{
            padding: .5vw 3vw;
            color: white;
            background: greenyellow;
            border-color: greenyellow;
            margin-left: 10vw;
            margin-top: 1vw;
            font-size: 1.4vw;
        }
        .btn-phone{
            margin-top: 1vw;
            .btn-pro{
                color: white;
                background: #778;
                padding: .5vw 1vw;
                font-size: 1.4vw;
                border-color: white;
                margin-left: 1vw;
            }
        }
    }
}
@include footer;

// responsive
@media (max-width: 768px){
    .edit{
        display: block;
        margin-top: 3vw ;
        padding-top: 15vw;
        .edito{
            width: 95%;
            margin: 2vw;
            height: 30vw;
            padding-top: 4vw;
            p{
                margin-top: 8vw;
                font-size: 3vw;
            }
        }
        .site{
            width: 100%;
            text-align: center;
            p{
                font-size: 4vw;
            }
            h2{
                font-size: 3vw;
            }
        }
        .image{
            display: none;
        }
        .images{
            display: block;
            width: 30vw;
            height: 25vw;
            background: #778;
            padding-top: 10vw;
            margin: 2vw;
            p{
                font-size: 3vw;
                text-align: center;
            }
        }
    }
    .equipe{
        h2{
            font-size: 4vw;
        }
        .images{
            position: relative;
            margin-bottom: 20vw;
            a{
                margin-left: 5vw;
                img{
                    width: 90%;
                    height: 40vw;
                }
            }
            .texte{
                padding: 2vw;
                position: absolute;
                right: 5vw;
                bottom: -9.5vw;
                width: 90%;
                height: 12vw;
                color: black;
                background: $blanc;
                box-shadow: 0 0 .3vw black;
                p{
                    font-size: 4vw;
                    text-align: center;
                    br{
                        display: none;
                    }
                }
            }
            .paris{
                p{
                    font-size: 5vw;
                }
            }
        }
    }
    .raison{
        margin-left: 2vw;
        h2{
            font-size: 4vw;
        }
        img{
            display: none;
        }
        .flex-raison{
            display: block;
            .dix{
                display: block;
                .ok{
                    .gauche, .droite{
                        width: 90vw;
                        height: 20vw;
                        h3{
                            font-size: 7vw;
                            margin-right: 2vw;
                        }
                        p{
                            font-size: 3vw;
                        }
                    }
                }
            }
        }
    }
    .info{
        display: block;
        background: white;
        .information, .profit, .flash{
            width: 100%;
            height: 30vw;
            background: rgb(35, 163, 177);
            margin: 1vw 0;
            padding: 2vw;
        }
        h2{
            font-size: 5vw;
            margin-bottom: 3vw;
        }
        .btn-info{
            font-size: 3vw;
            padding: 1vw 2vw;
            margin-bottom: 2vw;
        }
    }
    .contact{
        h2{
            font-size: 4vw;
        }
        p{
            font-size: 3vw;
        }
        .btn-flex{
            display: block;
            .btn-cont{
                font-size: 3vw;
                display: block;
                margin: 0 auto;
                br{
                    display: none;
                }
            }
            .btn-phone{
                margin-left: 9vw;
                margin-top: 2vw;
                .btn-pro{
                    font-size: 3vw;
                    i{
                        font-size: 3vw;
                    }
                }
            }
        }
    }
    .newsletter{
        margin-bottom: 2vw;
        .input{
            input{
                width: 75vw;
                height: 6vw;
                padding: 1vw ;
            }
            ::placeholder{
                font-size: 3vw;
            }
            .btn-souscrire{
                font-size: 3.3vw;
                padding: 1vw;
            }
        }
    }
    footer{
        p{
            font-size: 4vw;
        }
    }
}



// hobver :
button:hover{
    background: orangered !important;
    color: white !important;
    border-color: orangered !important;
}
.btn-head:hover{
    background: $vert !important;
    border-color: white !important;
    transform: scale(1.2);
    color: white !important;
}

.fa-google-plus-g:hover{
    color: orange !important;
}
.fa-facebook-f:hover{
    color: rgb(37, 149, 214) !important;
}
.fa-twitter:hover{
    color: rgb(37, 149, 214) !important;
}
.fa-youtube:hover{
    color: red !important;
}