$noir:rgba(0, 0, 0, .5);
$mainty:rgba(11, 20, 62, 1);
$blanc: rgba(255, 255, 255, 1);
$grena: rgba(139, 68, 40, 1);
$jaune: rgba(254, 202, 8, 1);
$gris:  rgba(119, 132, 158, 1);
$vert:rgba(113, 192, 67, 1);
$bleu:#182A80;
$fs:10vw;
$sb:space-between;
$se:space-evenly;
$sa:space-around;
$tt:uppercase;
$Tt:lowercase;